body{text-align:center;overflow:hidden;}
input[type="radio"] {
  margin-top: 45vh;
  
  position: relative;
  z-index: 5; appearance:none; border-radius: 50%; transition: all .5s ease; outline:0; cursor:pointer;width: 3rem; height:3rem; background-color: rgba(0,0,0,0.5);
  
  &:checked{background-color:#fff}
}
section {
  transition: all .5s cubic-bezier(.4,.1,.1,1) 1s;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index:0;
  opacity: .1;
  background-color:#eee;
  
}

.page-1{
  background-color:tomato;
  transform:scale(.27) translate(0, 100%)}
.page-2{background-color:crimson;
  transform: scale(.4) translate(-150%, 0)}
.page-3{
  background-color:salmon;
  transform: scale(.35)}

#page-1:checked ~ .page-1,
#page-2:checked ~ .page-2,
#page-3:checked ~ .page-3 {
  opacity: 1; 
  z-index:2;transform: none; 
  transition-delay: 0s;
}


